body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px !important;
}
#bodyBackgroundImage{
    background-image: url(bgİmage.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100% !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    z-index: -1;
}
.card {
    cursor: pointer;
    height: max-content;
}
.card-img-top{
    transition: 0.3s all ease-in-out;
}
.card:hover .card-img-top{
    transform: scale(1.2);
}